# Exclude compiled files
dist
lib
sample-pilet-service

# OS files
.DS_STORE

# npm files
node_modules
yarn.lock
*.log
*.tgz

# Editor files
.idea
*.sublime-project
*.sublime-workspace

coverage
reports
.cache
.nyc_output
